section.section-common-recruit
  .recruit-inner
    .wrapper
      h2.recruit-title
        span.text-english RECRUIT
        span.text-japan どうぞお気軽にお問合せください！
    a.trans.recruit-link(href=path+'/recruit/')
      img.image-common.md(src=path+'/img/common/recruit_link.png' width='1000' height='231' alt='採用情報 あなたの未来が日本の物流を支える' loading='lazy')
      img.image-common.sm(src=path+'/img/common/sp/recruit_link.png' width='750' height='397' alt='採用情報 あなたの未来が日本の物流を支える' loading='lazy')